@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url("../images/background.jpeg");
	background-size: 45%;
	color: white;
	font-family: "VT323", monospace;
	position: relative;
}

canvas {
	animation: game 4s ease-in-out, slide-in-game 3s ease-in-out;
	position: absolute;
	bottom: 40px;
	/* scale: 0.85; */
}

div {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	gap: 50px;
	transition: 0.5s ease-out;
	position: absolute;
	bottom: 110px;
	animation: slide-in 3s ease-in-out;
}

.div-out {
	animation: slide-out 3s ease-in-out;
}

img {
	width: 40%;
	height: 40%;
	margin-inline: auto;
	margin-top: -60px;
}

h1 {
	font-size: 90px;
	letter-spacing: 5px;
}

.names,
.year {
	font-size: 25px;
	letter-spacing: 2px;
	margin-bottom: 30px;
	position: absolute;
	bottom: 5px;
	text-align: center;
}

.names {
	left: 30px;
}

.year {
	right: 30px;
}

.right {
	right: 70px;
}

button {
	width: max-content;
	margin-inline: auto;
	padding: 20px 80px;
	font-size: 20px;
	border: 5px solid #ff00ff;
	border-radius: 2px;
	background-color: #1f001b;
	color: #ff00ff;
	font-weight: bold;
	letter-spacing: 2px;
	box-shadow: 0 0 25px peachpuff;
	animation: btn 0.5s ease-in, glow 1s linear alternate infinite;
	transition: 0.5s ease-in-out;
}

button:hover {
	color: #1f001b;
	background-color: #ff00ff;
	transition: 0.5s ease-in-out;
}

.hidden {
	display: none;
}

@keyframes glow {
	0% {
		box-shadow: 0 0 0 peachpuff;
	}
	100% {
		box-shadow: 0 0 25px peachpuff;
	}
}

@keyframes btn {
	0% {
		scale: 0;
	}
	100% {
		scale: 1;
	}
}

@keyframes game {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slide-in {
	0% {
		bottom: -600px;
	}

	100% {
		bottom: 110px;
	}
}

@keyframes slide-in-game {
	0% {
		bottom: -800px;
	}

	100% {
		bottom: 40px;
	}
}

@keyframes slide-out {
	0% {
		bottom: 110px;
	}

	100% {
		bottom: 1000px;
	}
}
