@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url("../images/background.jpeg");
	background-size: 45%;
	color: white;
	font-family: "VT323", monospace;
}

div {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	gap: 80px;
	transition: 0.5s ease-out;
}

canvas {
	animation: game 1s ease-in;
}

h1 {
	font-size: 90px;
	letter-spacing: 5px;
}

h3 {
	font-size: 45px;
	margin-bottom: 100px;
	letter-spacing: 2px;
}

button {
	width: max-content;
	margin-inline: auto;
	padding: 20px 80px;
	font-size: 20px;
	border: 5px solid #ff00ff;
	border-radius: 2px;
	background-color: #1f001b;
	color: #ff00ff;
	font-weight: bold;
	letter-spacing: 2px;
	box-shadow: 0 0 25px peachpuff;
	animation: btn 0.5s ease-in, glow 1s linear alternate infinite;
}

button:hover {
	color: #1f001b;
	background-color: #ff00ff;
	transition: 0.5s ease-in-out;
}

.hidden {
	display: none;
}

@keyframes glow {
	0% {
		box-shadow: 0 0 0 peachpuff;
	}
	100% {
		box-shadow: 0 0 25px peachpuff;
	}
}

@keyframes btn {
	0% {
		scale: 0;
	}
	100% {
		scale: 1;
	}
}

@keyframes game {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
